//- bemto
//- Copyright(c) 2012 Roman Komarov <kizu@kizu.ru>
//- MIT Licensed

//- Some global variables
- var bemto_chain = []

//- Function for rewriting tag name on different contexts
- function bemto_check_tag(tag,attributes){
-   var result = tag || 'div';
-   if (attributes.href) {
-     result = 'a';
-   }
-   return result;
- }

//- Block
mixin b(tag)
  - bemto_chain[bemto_chain.length] = attributes.class
  tag = bemto_check_tag(tag,attributes)
  #{tag}(attributes)
    block
  - bemto_chain = bemto_chain.splice(0,bemto_chain.length-1)

//- Element
mixin e(tag)
  tag = bemto_check_tag(tag,attributes)
  #{tag}(attributes, class = bemto_chain[bemto_chain.length-1] + '__' + attributes.class)
     block
