//- bemto
//- Copyright(c) 2012 Roman Komarov <kizu@kizu.ru>
//- MIT Licensed

//- Some global variables
- var bemto_chain = []
- var bemto_chain_contexts = ['block']

//- Function for rewriting tag name on different contexts
- function bemto_check_tag(tag,attributes){
-   var result = tag || 'div';
-   var currentContext = bemto_chain_contexts.length;
-   // Checks for contexts
-   if (bemto_chain_contexts[currentContext-1] == 'inline') {
-     result = 'span'; }
-   if (bemto_chain_contexts[currentContext-1] == 'list') {
-     result = 'li'; }
-   // Attributes context checks
-   if (attributes.href) {
-     result = 'a'; }
-   // Setting context
-   if (['a','abbr','acronym','b','br','code','em','font','i','img','ins','kbd','map','samp','small','span','strong','sub','sup'].indexOf(result) >= 0) {
-     bemto_chain_contexts[currentContext] = 'inline';
-   } else if (['ul','ol'].indexOf(result) >= 0) {
-     bemto_chain_contexts[currentContext] = 'list';
-   } else {
-     bemto_chain_contexts[currentContext] = 'block'; }
-   return result;
- }

//- Function for expanding elements and modifiers
- function bemto_rewrite_classes(classes, element) {
-   bemto_classes = classes.split(' ');
-   bemto_block = bemto_classes[0].match(/^([^_]+)/)[1]
-   if (!element) {
-     bemto_chain[bemto_chain.length] = bemto_block
-     if (bemto_classes.indexOf(bemto_block) == -1) {
-       bemto_classes[bemto_classes.length] = bemto_block
-     }
-   } else {
-     bemto_classes[0] = bemto_chain[bemto_chain.length-1] + '__' + bemto_classes[0]
-   }
-   return bemto_classes.join(' ')
- }

//- Block
mixin b(tag)
  - attributes.class = bemto_rewrite_classes(attributes.class)
  - tag = bemto_check_tag(tag,attributes)
  #{tag}(attributes)
    block
  - bemto_chain = bemto_chain.splice(0,bemto_chain.length-1)
  - bemto_chain_contexts = bemto_chain_contexts.splice(0,bemto_chain_contexts.length-1)

//- Element
mixin e(tag)
  - attributes.class = bemto_rewrite_classes(attributes.class, true)
  - tag = bemto_check_tag(tag,attributes)
  #{tag}(attributes)
    block
  - bemto_chain_contexts = bemto_chain_contexts.splice(0,bemto_chain_contexts.length-1)
