include ../../bemto

+b.foo bar

+b.foo
  +e.bar baz

+b.block_foo bar

+b.block_foo._bar._baz
  +e.element_type_lol._mode_moddy Blah

// Tag as first uppercase class
p
  +b.SPAN.foo bar

// Tag as option
p
  +b({tag: 'span'}).foo baz

// Self-closing tag as option
p
  +b({tag: 'closey/'}).foo baz

// Empty block and empty element
+b
  +e foo
+b.FOO
  +e.BAR foo
