include ../../bemto

+b.foo(title="Oh, it's a title")
  +e('a').bar(href='#baz') baz

p
  +b('img').image(src="foo.png")

p
  +b('img').image(src="foo.png", alt="no title here")

p
  +b('img').image(src="foo.png", title="alt is a cloned title")
