include ../../bemto

+b.UL.list
  +b.list-item
    +e.link(href="foo")
      +e.text foo
  +b.list-item
    +e({ metadata: { content_type: 'block' } }).link(href="bar")
      +e.text bar

p
  +b.IMG.nullgif(style="border: 1px solid lime", width="128", height="128")

+b.foo
    +b.bar
        +e.baz
            +b no actual block
        +e.baz
