include ../../bemto

- bemto_settings['prefix'] = 'b-'

+b.block
  +e.element foo

- bemto_settings['prefix'] = ''
- bemto_settings['element'] = '-'

+b.block
  +e.element foo

- bemto_settings['modifier'] = '--'

+b.block--modifier-name.--other-modifier foo
