include ../../bemto

- set_bemto_settings({ prefix: 'b-' })

+b.block
  +e.element foo

-
  set_bemto_settings({
    prefix: '',
    element: '-'
  })

+b.block
  +e.element foo

- set_bemto_settings({ modifier: '--' })

+b.block--modifier-name.--other-modifier foo

p
  - set_bemto_settings({ nosrc_substitute: '0.gif' })
  +b.IMG

p
  - set_bemto_settings({ nosrc_substitute: false })
  +b.IMG

+b.foo
+b({ prefix: 'js-' }).bar
+b.baz

-
  set_bemto_settings({
    element: '-',
    modifier: '--',
    output_element: '__',
    output_modifier: '_'
  })

+b.block.block2-
  +e.element--modifier foo
