include ../../bemto.pug

- set_bemto_settings({ prefix: 'b-' })

+b.block
  +e.element foo

-
  set_bemto_settings({
    prefix: '',
    element: '-'
  })

+b.block
  +e.element foo

- set_bemto_settings({ modifier: '--' })

+b.block--modifier-name.--other-modifier foo

p
  - set_bemto_settings({ nosrc_substitute: '0.gif' })
  +b.IMG

p
  - set_bemto_settings({ nosrc_substitute: false })
  +b.IMG

+b.foo
+b({ prefix: 'js-' }).bar
+b.baz

-
  set_bemto_settings({
    element: '-',
    modifier: '--',
    output_element: '__',
    output_modifier: '_'
  })

+b.block.block2-
  +e.element--modifier foo

-
  set_bemto_settings({
    prefix: {
      '': 'b-',
      'js-': true,
      'is-': 'is-',
      'global-': '',
      'nope-': false,
      'sc-': 'shortcut-'
    }
  })

+b.block Should have 'b-'
+b.b-block Should have 'b-'
+b.js-block Should have 'js-'
+b.is-block Should have 'is-'
+b.sc-block Should have 'shortcut-'
+b.global-block Should have no prefix
+b.nope-block Should have no prefix

+b.Bblock-.js-JSblock-.nope-NOPEblock-.Bblock2-
  +e.elem Should have all the prefixes for parent bemto objects

- set_bemto_settings({ class_delimiter: '|' })

+b.Block--mod1.--mod2.is-hidden Should have classes with delimiters

//- Undocumented, could change in the future
- bemto_tag_metadata.a.type = 'block'

+b.Link(href="#x")
  +e.Content= "Hello"
