include ../../bemto

- bemto_settings['prefix'] = 'b-'

+b.block
  +e.element foo

- bemto_settings['prefix'] = ''
- bemto_settings['element'] = '-'

+b.block
  +e.element foo

- bemto_settings['modifier'] = '--'

+b.block--modifier-name.--other-modifier foo

p
  - bemto_settings['nosrc_substitute'] = '0.gif'
  +b.IMG

p
  - bemto_settings['nosrc_substitute'] = false
  +b.IMG
